---
title: Introduction to User-centric Design
created: 2021-10-02T23:00:00.000Z
updated: 2021-10-02T23:00:00.000Z
tags: []
---

extends /layouts/default.pug

block content

  p
    | Developers often develop for themselves, and will be motivated to develop
    | products that work for them. However, we are not typical users so many
    | considerations must be made:
  ul
    li Demographics - UX and UI must be intuitive specifically to the user-base
    li Technical familiarity
    li Domain familiarity (or lack thereof) - either way, not too simple or complex
  p Furthermore, 
    // excerpt
    | users no longer accept bad design; there are many
    | alternatives on modern and most users are familiar with good
    | design.
    // excerpt
  h2 Design Focus
  p Any part of an interactive system that users interact with
  ul
    li Physically: input
    li Perceptually: feedback
    li Conceptually: what is it and what does it do?
  h2 Lifecycle
  ol
    li
      p Analysis
      ul
        li Starting point
        li Who is the user?
          ul
            li Child (intuitive but simple)
            li Teen (fastest and hardest to please)
            li Old (unintuitive and simple)
        li
          | User domain knowledge is also important to consider; under or over-detailed
          | applications can cause issues
    li
      p Design
      ul
        li Wireframes
          ul
            li
              | Visual demonstration of the function design of the application (layout
              | and flow)
        li Prototypes
    li
      p Evaluation
    li
      p Implementation
    li
      p Deployment
  h2 User Inclusion
  p
    em Participatory design
    | is where users provide feedback during the design
    | process. As wireframes are produced by the designed, the client an feed back
    | iteratively.
  p
    em Co-design
    | is where users are actively involved in the design process,
    | providing contributions to the design in addition to feedback during the later
    | stages.
  