---
title: Module Overview
created: 2021-09-27T23:00:00.000Z
updated: 2021-09-27T23:00:00.000Z
tags: []
---

extends /layouts/default.pug

block content

  p
    | Since these are taken from a university module, we naturally have stuff like
    | this.
  span#more
  h2 Outcomes
  ul
    li
      | Present, analyse and evaluate the factors which contribute to the success (or
      | failure) of IT ventures at both the project and organisational level
    li
      | Pragmatically use criteria and specifications appropriate to specific
      | problems, and use these for planning and to analyse the extent to which a
      | computer-based system meets defined requirements
    li
      | Recognise the professional and ethical issues involved in exploiting computer
      | technology and be guided by appropriate professional, ethical and legal
      | practices
    li
      | Work as a development team member, recognising the different roles within a
      | team and different ways of organising teams;
    li
      | Present succinctly to a range of audiences (orally, electronically or in
      | writing) rational and reasoned arguments that address a given information
      | handling problem or opportunity
  h2 Assessment
  p
    span(role="heading") Practical
    em
      | Development of project management digital
      | artefacts based on a case study
    | (80%)
  ul
    li Groups of 3 to 4 (hard limit)
    li Producing:
      ul
        li Project initiation document (PIDE)
        li Business case
        li Investment appraisal
        li Work breakdown structures
        li Project management strategy
    li Solution grows organically with weekly seminars
  p
    span(role="heading") Theoretical
    em Project Management Reflective account
    | (20%)
  ul
    li How the individual (me) contributed to the practical solution
    li Includes:
      ul
        li
          | Comparison to relevant theory to support analysis of human, professional,
          | and ethical aspects
        li
          | Critical analysis of contribution to the project, both , positive and
          | negative
  