table
  thead
    tr
      th
      th Project
        br
        | Supervisor
      th Project
        br
        | Manager
      th Analysis
        br
        | Team Leader
      th Chief
        br
        | Designer
      th Development
        br
        | Manager
      th Team
        br
        | Manager
      th Super
        br
        | User
  tbody
    tr
      td Interview notes
      td I
      td A
      td R
      td I
      td
      td
      td C
    tr
      td Requirements catalogue
      td I
      td A
      td R
      td I
      td
      td
      td C
    tr
      td Use-case diagram
      td I
      td A
      td R
      td I
      td I
      td
      td C
    tr
      td Package review
      td I
      td A
      td R
      td I
      td I
      td I
      td I
    tr
      td Report text
      td I
      td A
      td R
      td I
      td
      td
      td I
    tr
      td Report illustrations
      td I
      td A
      td R
      td I
      td
      td
      td I
    tr
      td Report appendices
      td I
      td A
      td R
      td I
      td
      td
      td I
