---
title: Explaining the 90/180 Rule in the Schengen Area
created: 2022-05-31T23:00:00.000Z
updated: 2022-05-31T23:00:00.000Z
tags:
  - Fluff
---

extends /layouts/default.pug

block content

  p
    | UK nationals can travel inside the Schengen area without a visa, as long as they
    | do not spend more than 90 days inside the territory across any 180-day period.
    | But what does that mean for our holidays?
  span#more
  p
    | Many people explain the regulation as a 'moving' or 'rolling' 180-day period,
    | which appears to confuse people more than help. For example, I interpreted this
    | to mean the regulation defined set 180-day periods within which you could use up
    | the 90 day allowance. I was way off, and it's pretty simple once you understand
    | it.
  h2 Walkthrough
  p
    | To explain this as simply as possible, lets start with a clean slate and assume
    | you've never left the UK and therefore have no days spent inside the Schengen
    | area.
  h3 Visit 1
  p Imagine it's new years day and you're going away for 10 days:
  ul
    li
      strong Start Date:
      | 01/01/22
    li
      strong Duration:
      | 10 days
    li
      strong End Date:
      | 10/01/22
  p
    | The 180-day window is calculated from the date of entry to the Schengen area, so
    | the start date minus 180 days, including the start date itself:
  ul
    li
      strong Start of 180-Day Window:
      | 06/07/21
    li
      strong Previously in Schengen:
      ul
        li
          strong 0
          | days total, with
          strong 90
          | days remaining
  p
    | Because you're only going away for 10 days, this visit is within the
    | regulations. If you so desired, you could stay in the Schengen area for all 90
    | days which would take your holiday to 31/03/2022.
  h3 Visit 2
  p Jump ahead to April for an easter getaway:
  ul
    li
      strong Start Date:
      | 14/04/2022
    li
      strong End Date:
      | 20/04/2022
    li
      strong Duration:
      | 7 days
  p
    | As before, we calculate the 180-day period from the start of the visit but we
    | need to include visit one in the allowance period:
  ul
    li
      strong Start of 180-Day Window:
      | 20/10/21
    li
      strong Previously in Schengen:
      ul
        li 10 days (visit 1)
        li
          strong 10
          | days total, with
          strong 80
          | days remaining
  h3 Visit 3
  p You fancy a cheeky long-weekend:
  ul
    li
      strong Start Date:
      | 27/05/22
    li
      strong End Date:
      | 30/05/22
    li
      strong Duration:
      | 4 days
  p This time, you spent even more time in the Schengen area:
  ul
    li
      strong Start of 180-Day Window:
      | 29/11/21
    li
      strong Previously in Schengen:
      ul
        li 10 days (visit 1)
        li 7 days (visit 2)
        li
          strong 17
          | days total, with
          strong 73
          | days remaining
  h3 Visit 4
  p It's the school holidays and you're taking the kids somewhere warmer:
  ul
    li
      strong Start Date:
      | 28/07/22
    li
      strong End Date:
      | 10/08/22
    li
      strong Duration:
      | 14 days
  p
    | Now that the window starts at the end of January, visit 1 falls outside the 180
    | day window:
  ul
    li
      strong Start of 180-Day Window:
      | 30/01/22
    li
      strong Previously in Schengen:
      ul
        li
          del 10 days (visit 1)
        li 7 days (visit 2)
        li 4 days (visit 3)
        li
          strong 11
          | days total, with
          strong 79
          | days remaining
  p
    | As we can see, the days from visit 1 are claimed back to reuse for future
    | visits, plus the so-called 180-day 'moving target' through the new calculation
    | for each visit.
  