{
  "overrides": [
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "always"
      }
    },
    {
      "files": ["*.ts"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
