{
  "overrides": [
    {
      "files": ["*.md", "*.yml"],
      "options": {
        "proseWrap": "always"
      }
    },
    {
      "files": ["*.ejs"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
