---
title: Bike Fitting
created: 2022-05-24T23:00:00.000Z
updated: 2022-05-24T23:00:00.000Z
tags:
  - Cycling
draft: true
---

extends /layouts/default.pug

block content

  p
    | Taken from the
    a(href="https://www.youtube.com/watch?v=RNLQY6gBZsg&list=PLMZ241fyVfiv3eAJ4UYkzeb2JltpLSlzs") Bike Fit Tuesdays
    | series from the Francis Cade YouTube channel.
  // more
  p
    | I like BikeFitJames. As he often explains, many bike fitters are very
    | systematic, relying exclusively on data produced by specialized equipment to
    | conclude how an individual should interact with their bicycle.
  p
    | This series, plus supporting vlogs, demonstrate why this is a poor approach, why
    | a pragmatic approach is better, and how he gets people comfortable on a bike.
    | Thanks James.
  h2 To Do
  ul
    li Saddle Height
    li Saddle Setback
    li Saddle Tilt
    li Saddle Width
    li Handlebar Reach
    li Handlebar Drop
    li Handlebar Width
    li Shoes
    li Crank length?
    li Add diagrams for all
    li Reorder
  h2 An Outline
  p People interact with a bike in three places:
  ul
    li
      em Controls
      | (handlebars and levers)
    li
      em Saddle
      | (or seat)
    li
      em Pedals
  p
    | The pedals and saddle are the foundation of a bike fit, as they receive the
    | rider's power and (most of) their weight respectively. The placement of the
    | controls is then dictated by their physiological needs (e.g., flexibility) and
    | end-goal (e.g., aero).
  p
    | All three aspects are directly linked; none should be set up in isolation. For
    | example, moving the saddle backwards increases the reach, so something else must
    | change to preserve the correct reach (if it was correct in the first place).
  h2 Effects of bicycle design
  p
    | As the sport has evolved, bicycle design has changed to reflect (and motivate)
    | the needs of riders. A traditional 56cm frame would measure 56cm on both the top
    | tube and seat tube with little handlebar drop. Modern race-oriented frames are
    | more aggressive; a longer top tube places more weight towards the front of the
    | bike and long 'n' low stems typically add reach and handlebar drop. Drivetrain
    | advancements, such as press-fit bottom brackets, have also narrowed bikes.
  +caption("Adam Hansen's Ridley Helium SL.", "https://www.bikeradar.com/features/pro-bike/pro-bike-adam-hansens-ridley-helium-sl")
    img(src="bike.jpg")
  h2 Adapting to a poor position
  p
    | This has lead to a common problem in bike fitting: many everyday people struggle
    | to get comfortable on their expensive bikes. Maintaining an aggressive position
    | requires flexibility, strength, and little upper body mass &mdash; a pro. A typical
    | desk worker is top-heavy and lacks flexibility; hitting the gym can add strength
    | but more muscle means more weight to support on the handlebars, especially with
    | people's tendency to skip leg day.
  p
    | Although the human body can adapt to unergonomic positions very well, bad
    | positions often necessitate
    em acts of sacrifice
    | : unconscious adjustments made by
    | body to achieve a more stable and sustainable position. A very common example is
    | seen with excess saddle height, where riders sit off to their dominant side of
    | the saddle. This causes an asymmetric interaction with the bike, often leading
    | to one-sided issues (e.g., saddle sores on the non-dominant side) and an
    | imbalance of power output.
  // TODO physios
  // Another common problem often faced in bike fitting is
  h2 Stance
  p
    | The horizontal distance between your feet on the pedals. It is not the same as
    em q-factor
    | , which instead measures the horizontal distance between the crank
    | arms.
  h3 Measurement
  // TODO
  h3 Adjustment
  p
    | The easiest and free-est starting point is the cleat placement in the shoe: move
    | them inwards to increase stance, move them outwards to decrease stance.
  p
    | Next come pedal washers, up to ~2mm. Any longer and you start running out of
    | pedal threads. Pedal spindle extenders and long-axle pedals get around this
    | issue for a little more money.
  p
    | Lastly, q-factor can also change stance, however needing new cranks to eek out
    | your stance to the extreme suggests a proper bike fit is in order.
  h3 Impact
  // TODO
  h2 Handlebar Width
  p
    | The horizontal measurement of the handlebars, at the point of attachment for the
    | levers.
  h3 Measurement
  p
    | When measuring bar width, make sure to measure on the top of the bars as some
    | handlebars are flared, meaning they're wider at the bottom than on the tops.
  p
    | Another important note is that not all manufacturers measure center-to-center,
    | meaning the middle of the tube. Some manufacturers measure outside-to-outside,
    | so make sure to check how the manufacturer measures to avoid buying the wrong
    | thing. The most common approach is c-t-c.
  // TODO example for these manufacturers
  h3 Adjustments
  p The only way to change handlebar width is by changing your handlebars 🤷‍♂️.
  h3 Impact
  