---
title: Conceptualisation
created: 2021-10-20T23:00:00.000Z
updated: 2021-10-20T23:00:00.000Z
tags: []
---

extends /layouts/default.pug

block content

  p
    | Moving from analysis progresses the contextual information gathered into a
    em conceptualisation
    | .
    // excerpt
    | Basically, we're starting to make something
    | tangible.
    // excerpt
    | The design phase is always addressed in an iterative
    | approach.
  p
    | There are two main areas of conceptualisation: conceptual, trying to capture
    | what the product will do and how; and physical, the details of the design,
    | structure, layout etc.
  h2 Prototypes
  +quote("Bill Verplank")
  | Prototyping is externalising and making concrete a design idea for the purpose
  | of evaluation
  p
    | Simply, prototypes are a tangible representations of a solution. They are the
    | first representation of a system for the client to accept/decline your concept
    | for the solution.
  h3 Fidelity
  p
    em Prototype fidelity
    | describes how closely the prototype conveys the
    | look-and-feel of the final product: low is simple, high is complex.
  p
    | Low-fidelity prototypes allow designers to conceptualise layout, structure,
    | interface, etc., early in the process. They are cheap and quick to produce,
    | e.g., wireframes.
  p
    | High fidelity prototypes match the look and feel to the final product
    | closely/entirely, allowing designers to test the content with end users and
    | collect direct feedback. They are high-cost, meaning they are produced later and
    | to be refined and reused.
  h3 Compromise
  p
    | All prototypes involve compromises; for software-based prototyping, this could
    | affect functionality, appearance, or performance. There are two types of
    | compromise: horizontal, having a wide range of function but little detail; and
    | vertical, the opposite.
  p
    | Choosing the right type of compromise is important to attain more/better
    | feedback from the client. Users with more domain knowledge than technical would
    | most likely benefit from vertical prototypes; they understand the content but
    | the functionality is their downfall (and vice-versa).
  h2 Storyboarding
  p
    em Storyboards
    | visualise a process in the application, often extending a
    | scenario, allowing designers to address fundamental aspects of the concept such
    | as:
  ul
    li Will Roger be able to read that text?
    li
      | We have lots of users who are afraid of new technology; will the interface
      | scare them?
    li What happens if they don't have a bank account?
    li
      | They're experienced users, will they be satisfied with a step-by-step
      | approach?
  h2 Wireframes
  p
    | A basic representation of the functional elements in a design concept, such as
    | the layout of a web page. Their quality can range from a 'back-of-an-envelope'
    | sketch to a full design, intended to provide an early approximation of how a
    | user will interact with the system. There are different types:
  ul
    li High-level
      ul
        li Structure without content
    li Flow
      ul
        li Demonstrate the flow of a single task
        li Requires multiple wireframes
    li Modular wireframe
      ul
        li Demonstrate the flexibility/changeability of the interface
        li Individual components can add/move/delete
        li Re-arrangeable to try different layouts
  p Tools for creating wireframes include 
    a(href="http://www.invisionapp.com/") invision
    | or
    a(href="https://moqups.com/") moqups
    | .
  