---
title: Profile of a Project
created: 2021-10-04T23:00:00.000Z
updated: 2021-10-04T23:00:00.000Z
tags: []
---

extends /layouts/default.pug

block content

  p What on earth to project managers do?
  span#more
  h2 Pre-Project
  p
    | Starting to think about business cases, justification, and vendor scrutiny: is
    | the project viable?
  h2 Project Startup
  p Producing the initial documents as the foundation of the project development,
  ul
    li Project initiation document (PID)
    li Project plan
    li Quality plan (how can we assess the end product?)
    li Risk management plan (how can we assess the risks of creating the product?)
    li Project organisation & administration
  h2 Development
  p
    | The development stage handles preparation of documentation, site surveys and
    | preparation; data acquisition and take-on; and system development.
  ul
    li Requirement specifications (what does the client want?)
    li Technical specification (translation of business requirements)
    li Module specifications (dividing the project to separate concerns)
    li Prototypes & wireframes
    li System test results
    li Acceptance methodologies
      ul
        li User
        li Factory
  h2 Completion
  p
    | Delivering the deliverables to the customer. This shouldn't be the first time
    | the user sees the product; wireframes, and later prototypes, should have been
    | demonstrated to the user to attain feedback reguarding the end product.
  p This stage also includes:
  ul
    li Staff/user training and familiarisation
    li Acceptance testing - ensures the client is happy with the product
    li System commissioning - implementing the new/updated product into production
    li Customer takeover - operation is passed to the client
  h2 Operation
  ul
    li In-service live running
    li Warranty, support, and maintainers
    li Enhancements
      ul
        li New features
        li Changes to existing product
  h2 Post-Project
  p Looks at what went well and what went badly using a post-project review report.
  