---
title: Module Overview
created: 2021-09-27T23:00:00.000Z
updated: 2021-09-27T23:00:00.000Z
tags: []
---

extends /layouts/default.pug

block content

  p
    | Since these are taken from a university module, we naturally have stuff like
    | this.
  span#more
  h2 Aims
  p
    | The module aims to explore the role and nature of design in software
    | development, to make use of industrially-relevant techniques and tools, and to
    | develop (relatively) &#39;large scale&#39; software.
  p
    | We will also be expected to challenge and question the concepts and points we
    | raise; design choices are subjective and even the module leaders may learn from
    | our decisions.
  h2 Outcomes
  ul
    li
      | Use design strategies effectively to guide the production of solutions in a
      | complex problem domain
    li
      | Select and apply contemporary design techniques to generate effective and
      | usable software designs
    li Use designs to construct non-trivial software systems
    li
      | Use experience gained during the design and development case-studies to
      | discuss and critically evaluate the impact of design approaches on software
      | qualities
    li
      | Discuss and evaluate current design techniques in particular development
      | contexts, and the role of these techniques in addressing issues and
      | trade-offs, that arise during the development of complex software systems
  h2 Assessment
  p
    span(role="heading") Coursework 1
    em Design a case study
    | (20%)
  p
    span(role="heading") Coursework 2
    em Implementation and evaluation
    | (30%)
  p
    span(role="heading") Exam
    em Critically analyse experience and techniques
    | (50%)
  h2 Suggested Reading
  ul
    li Head First Design Patterns (Freeman &amp; Freeman, O&#39; Reilly)
    li Interaction Design (Jenny Preece, Yvonne Rogers, Helen Sharp)
    li Designing Interfaces (Jennifer Tidwell, O&#39;Reilly)
    li
      | Design Patterns: elements of reusable object oriented software (Erich Gamma,
      | Richard Helm, Ralph Johnson, John Vlissides )
    li
      | Sprint : how to solve big problems and test new ideas in just five days (Jake
      | Knapp)
    li The Design of Everyday Things (Donald Norman)
    li Patterns of Enterprise Application Architecture (Martin Fowler)
  