<% site.posts.sort("date", -1).forEach(post => { %>
<section class="post">
  <h2>
    <a class="suppress" href="<%- url_for(post.path) %>"><%- post.title %></a>
  </h2>

  <div class="mth"><%- partial("partials/post-dates", {post}) %></div>
  <div class="mth excerpt"><%- post.excerpt %></div>
</section>
<% }) %>
