<% site.posts.forEach(post => { %>

<section class="post">
  <h2>
    <a class="suppress" href="<%- url_for(post.path) %>"><%- post.title %></a>
  </h2>

  <div class="separate">
    <span><%- partial("partials/post-dates", {post}) %></span>
    <span>
      <a href="<%- url_for(post.path) %>">View</a>
    </span>
  </div>
</section>

%> <% }) %>
