table
  thead
    tr
      th Item
      th Year 1
      th Year 2
      th Year 3
      th Year 4
      th Year 5
  tbody
    tr
      td Hardware Purchase
      td 500
      td 0
      td 0
      td 0
      td 0
    tr
      td Hardware Maintenance
      td 50
      td 50
      td 50
      td 50
      td 50
    tr
      td Software Purchase
      td 180
      td
      td
      td
      td
    tr
      td Software Support
      td 20
      td 20
      td 20
      td 20
      td 20
    tr
      td
        strong Cumulative Costs
      td 750
      td 820
      td 890
      td 960
      td 1,030
    tr
      td
      td
      td
      td
      td
      td
    tr
      td Staff savings (per year)
      td 220
      td 220
      td 220
      td 220
      td 220
    tr
      td
        strong Cumulative Savings
      td 220
      td 440
      td 660
      td 880
      td 1,100
    tr
      td
      td
      td
      td
      td
      td
    tr
      td
        strong Cumulative Net Return
        | (Difference)
      td -530
      td -380 (+150)
      td -230 (+150)
      td -80 (+150)
      td 70 (+150)
