---
title: Pre-Project
created: 2021-10-11T23:00:00.000Z
updated: 2021-10-11T23:00:00.000Z
tags: []
---

extends /layouts/default.pug

block content

  p Project initiation is 
    // excerpt
    | the easiest time to ruin the
    | project.
    // excerpt
    | It's the foundation for everything to come and issues
    strong need
    | to be ironed out here; e.g., contractual issues.
  p
    | Businesses can push back against this stage, as it isn't valued because the work
    | doesn't contribute to the end product.
  p
    | Two roles need to be decided: the Customer Project Manager (or Project
    | Director), responsible for user involvement and overall acceptance of the
    | product; and the Supplier Project Manager, responsible for delivery of the
    | system. These roles must have a very clear boundary, as overlap in
    | responsibilities will be very difficult to negotiate when disagreements occur.
  p
    | Any and all assumptions need to be documented at this stage. Without clarifying
    | assumptions about the project's deliverables, extra work may be completed which
    | isn't required by the client. Similarly, any vagueness in the specification
    | allows the client to make their own assumptions about the deliverable.
  p Overall, this stage involves:
  ul
    li Initial client contact
    li Client specification
      ul
        li Business requirements for the product
    li The tender process (who's going to the build it?)
      ul
        li Open market, so no backdoor decisions
        li Clients can be constrained; e.g., minimal annual revenue
    li Vendor evaluation (which client fits best?)
      ul
        li Can they deliver all business requirements?
        li Is the organisation suitable/compatible? I.e., internal structure
        li Do they fit pricing/quality requirements?
    li Contractual framework (the legal stuff)
    li Fixed price vs time & material
    li Suppliers appoint sub-contractors
  