<%- page.content %>

<ul class="space">

<% site.data.collections.forEach(({ title, description }) => { %>
<li>
  <a href="<%- collection_url_for(title) %>"><%- title %></a>
  
  <%- markdown(description) %>
</section>
<% }) %>

</ul>

