<table>
  <tbody>
    <tr>
      <th>Status</th>
      <td><%- page.series.status %></td>
    </tr>
    
    <tr>
      <th>Articles</th>
      <td><%- page.posts.length %></td>
    </tr> 
  </tbody>
</table>

<p>
  <%- page.series.description %>
</p>

<%- partial("partials/posts", { posts: page.posts.sort("date", -1) }) %>