body {
  margin: var(--space-2) 0;
}

body > * {
  width: min(35rem, calc(100vw - var(--space-4)));
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-transform: lowercase;
  margin-top: var(--space-2);
}

nav > :not(:last-child) {
  margin-right: 1ch;
}

h1 {
  margin-top: var(--space-4);
}

#theme-toggle:not(:empty)::after {
  content: " Mode";
}
