.prism .keyword {
  color: var(--code-keyword);
}

.prism .function {
  color: var(--code-title);
}

.prism .builtin {
  color: var(--code-built-in);
}

.prism .string {
  color: var(--code-string);
}

.prism .comment {
  color: var(--code-comment);
}

.katex {
  font-size: 1em;
}

.katex-html > .newline {
  margin-bottom: 0.5em;
}

.katex-display {
  margin: 0;
}
