/* source sans pro in bold looks better using the browser than the dedicated font */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&family=Source+Serif+Pro&display=swap");

body {
  --spacing: 2rem;

  --text: "Source Serif Pro", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  --heading: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* atom one colors */
  --light: #fafafa;
  /* default hsl(228, 8%, 24%) */
  --dark: hsl(228, 8%, 15%);
  --red: #e45649;
  --blue: #4078f2;
  --purple: #a626a4;
  --selection: #e5e5e6;
  --pop: var(--red);
}

body.dark {
  --light: #282c34;
  /* default hsl(219, 14%, 71%) */
  --dark: hsl(219, 14%, 78%);
  --red: #e06c75;
  --blue: #61afef;
  --purple: #c678dd;
  --selection: #3e4451;
}
