table
  thead
    tr
      th Consideration
      th Difference
      th Total (days)
  tbody
    tr
      td Working week (5 days, 52 weeks)
      td +260
      td 260
    tr
      td Bank holidays
      td -8
      td 252
    tr
      td Holiday (typical in UK)
      td -25
      td 227
    tr
      td Non-working time (training, sickness)
      td -15
      td 212
    tr
      td Margins (meetings, loo breaks, etc.)
      td ×0.8
      td
        strong ~170
