---
title: "Collections"
---

extends /layouts/default.pug

block content

  p Where one post would be just too much.

  .cards
    each collection in store.allBy("collection")
      section.card
        h2 #{collection.title}

        p !{collection.description}

        ul
          - const name = collection.file.segments[1];
          - const posts = store.allBy("post").filter(p => p.collection === name).sort();

          each post in posts
            li: p #[a(href=urlFor(post)) #{post.title}]
