---yaml
title: "Home"
displayTitle: "Hello"
---

extends /layouts/default.pug

block content
  p.
    I'm spirited software developer from Manchester seeking a job in full stack
    web development. Any tech stack is a good tech stack, but .NET, Vue and SQL is 
    my jam.