---yaml
title: "Home"
displayTitle: "Hello"
---
extends /layouts/default.pug

block content
  p Some #[strong bold text]

  p Some #[em italic text]

  p more new stuff

  blockquote A quotation

  ul 
    li Some
      ul 
        li list
          ul
            li items

  pre
    code public static void main() {}