---yaml
title: "Home"
displayTitle: "Hello"
---

extends /layouts/default.pug

block content
  p.
    I'm spirited software developer from Manchester seeking a job in full stack
    web development. Any tech stack is a good tech stack, but .NET, Vue and SQL is 
    my jam.

  p
    | I have a First in Software Engineering from Sheffield Hallam, 14 months experience developing full-stack web
    | applications from a placement at
    |
    a(target="_blank", rel="noopener", href="https://3squared.com/") 3Squared
    | , and a slowly improving grasp of French.
    |
    em(title="With Duolingo, I'm getting better every day.")
    | Avec Duolingo, je
    | m'améliore tous les jours.

  p
    | When I'm not coding, I'm tinkering with my bike and mechanical keyboards. Most evenings involve cooking and music,
    | and I've followed Formula 1 and the professional CS:GO scene for years.
  
  p 
    | Check out my #[a(href=urlFor("page", "articles")) blog],  #[a(href=urlFor("page", "portfolio")) portfolio],
    | 
    a(target="_blank", rel="noopener", href="https://github.com/joshsj") Github
    | , and
    |
    a(target="_blank" rel="noopener" href="https://uk.linkedin.com/in/joshsjuk") LinkedIn
    | . If you like what you see, please get in touch at #[+myEmail] or message me on LinkedIn.
