---yaml
title: "Hello World"
---
extends /layouts/default.pug

block content
  p Some #[strong bold text]

  p Some #[em italic text]

  p Another page #[a(href="blog/test.html") here]

  blockquote A quotation

  ul 
    li Some
      ul 
        li list
          ul
            li items

  pre
    code public static void main() {}