@import url("./variables.css");
@import url("./utilities.css");

*,
*::before,
*::after {
  /* reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* inheritance */
  font: inherit;
  color: inherit;

  /* pretty */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  outline-color: var(--blue);
}

*::selection {
  /* pretty */
  color: var(--dark);
  background-color: var(--selection);
}

body {
  font-family: var(--text);
  font-size: 1.3rem;
  line-height: 1.25;
  color: var(--dark);
  background-color: var(--light);
}

button {
  cursor: pointer;
}

button.link {
  background-color: inherit;
  border: inherit;
}

a,
button.link {
  color: var(--pop);
  transition: all 100ms ease-in-out;
  transition-property: color, background-color;
}

:is(a, button.link).suppress {
  color: inherit;
  text-decoration: none;
}

:is(a, button.link):not(.suppress):hover {
  color: var(--light);
  background-color: var(--pop);
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.5rem;
}

h1,
h2,
h3 {
  font-family: var(--heading);
  font-weight: 700;
}

.content > :is(h1, h2, h3) {
  margin-bottom: 0.5rem;
}

p {
  line-height: 1.5;
}

.content > :is(p, hr, blockquote) {
  margin-bottom: 1.5rem;
}

.content > blockquote {
  font-style: italic;
}

.content > blockquote > p:before,
.content > blockquote > p:after {
  content: "'";
}
