*,
*::before,
*::after {
  /* reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* inheritance */
  font: inherit;
  color: inherit;
  letter-spacing: inherit;

  /* pretty */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  outline-color: var(--blue);

  scroll-margin-top: 4rem;
}

::selection {
  /* pretty */
  color: var(--light);
  background-color: var(--blue);
}

body {
  font-family: var(--ff-normal);
  font-size: var(--fs-normal);
  line-height: 1.6;
  color: var(--dark);
  background-color: var(--light);
  scroll-behavior: smooth;
}

button {
  /* why do browsers fuck with buttons so much */
  all: unset;
  cursor: pointer;
}

button:not(.link) {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 0 0.2em;
  background-color: var(--light-grey);
}

button.link {
  background-color: inherit;
  border: initial;
}

a,
button.link {
  color: var(--pop);
}

:where(a, button.link):not(.mask, .hide):hover {
  color: var(--light);
  background-color: var(--pop);
}

:where(a, button.link):is(.mask, .hide) {
  color: inherit;
  text-decoration: none;
}

:where(a, button.link):not(.hide).mask:hover {
  text-decoration: underline;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: 1.1;
}

th,
/* inline headings */
[role="heading"] {
  font-weight: bold;
}

[role="heading"]::after {
  content: ":";
}

/* not used */
h4,
h5,
h6 {
  display: none;
}

strong,
label {
  font-weight: bold;
}

q,
blockquote,
em,
figcaption,
[role="term"] {
  font-style: italic;
}

ul,
ol {
  margin-left: 1.25em;
}

ol {
  counter-reset: li;
}

ol > li {
  counter-increment: li;
}

ol > li::marker {
  content: counter(li) ") ";
}

ul > li::marker {
  color: var(--pop);
}

select {
  border-radius: var(--border-radius);
  color: var(--black);
  background-color: var(--white);
}

label + select {
  margin-left: 0.5rem;
}

figure {
  display: flex;
  flex-direction: column;
}

/* ignore code examples */
figure > :not(pre, figcaption) {
  align-self: center;
}

/* code examples need some space */
figure > pre + figcaption {
  margin-top: var(--space-1);
}

figcaption > .source {
  margin-left: var(--space-1);
  float: right;
}

figure img {
  border-radius: var(--border-radius);
}

img {
  max-width: 100%;
}

table {
  border-collapse: separate;
  border-spacing: var(--space-2) 0;
  /* remove horizontal margin from border-spacing */
  margin-left: calc(var(--space-2) * -1);
  margin-right: calc(var(--space-2) * -1);
  width: 100%;
}

tr {
  vertical-align: top;
}

th {
  text-align: left;
}

sup {
  font-size: var(--fs-small);
}

code {
  font-family: var(--ff-mono);
}

pre {
  overflow-y: auto;
}

code:not(.hljs) {
  border-radius: var(--border-radius);
}

iframe {
  border: none;
}
