*,
*::before,
*::after {
  /* reset */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* inheritance */
  font: inherit;
  color: inherit;
  letter-spacing: inherit;

  /* pretty */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  outline-color: var(--blue);

  /* theme transition */
  transition: none 25ms linear;
  transition-property: color, background-color;
}

*::selection {
  /* pretty */
  color: var(--dark);
  background-color: var(--selection);
}

body {
  font-family: var(--text);
  font-size: 1.4rem;
  /* not a good look with monospace fonts */
  font-variant-ligatures: no-common-ligatures;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--dark);
  background-color: var(--light);
}

button {
  cursor: pointer;
}

button.link {
  background-color: inherit;
  border: inherit;
}

a,
button.link {
  color: var(--pop);
}

:is(a, button.link).suppress {
  color: inherit;
  text-decoration: none;
}

:is(a, button.link):not(.suppress):hover {
  color: var(--light);
  background-color: var(--pop);
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  font-family: var(--heading);
  font-weight: 500;
  letter-spacing: -0.06em;
}

/* sizing not implemented */
h4,
h5,
h6 {
  display: none;
}

p {
  line-height: 1.5;
}

strong {
  font-weight: 500;
}

blockquote,
em {
  font-style: italic;
}

.content > :is(h1, h2, h3) {
  margin-bottom: var(--space-1);
}

.content > :is(p, hr, blockquote) {
  margin-bottom: var(--space-3);
}
