.separate > :not(:last-child)::after {
  content: var(--separator);
  padding: 0 0.5em;
  font-size: max(0.65em, var(--fs-min));
  vertical-align: middle;
}

/* h1 doesn't need margin, line-height is enough */
.content > :where(h2, h3) {
  margin-bottom: 0.25rem;
}

.content > :where(p, hr, blockquote, ul, ol, figure, table) {
  margin-bottom: var(--space-3);
}

.content > figure {
  margin-right: var(--space-2);
}

.card {
  margin-top: var(--space-4);
  border-top: 0.1rem solid var(--grey);
  padding-top: var(--space-1);
}

.card > .extra {
  font-size: 0.85em;
  margin-bottom: var(--space-1);
  display: flex;
}

.card > .extra > .right {
  /* push right */
  margin-left: auto;
  order: 9999;
}

.excerpt > p::after {
  /* add ellipses */
  content: "..";
}

@media (max-width: 768px) {
  .content > figure {
    margin-right: 0;
  }
}
