body {
  width: min(35rem, calc(100vw - var(--space-3)));
  margin: var(--space-2) auto;
}

header,
footer {
  text-transform: lowercase;
  font-weight: bold;
}

footer {
  justify-content: center;
}

main,
footer {
  margin-top: var(--space-4);
}

header {
  display: flex;
  justify-content: space-between;
}

nav > :not(:last-child) {
  margin-right: var(--space-1);
}

/* allow the hmm */
body:not(.hmm) > nav {
  background-color: var(--light);
}

#theme-toggle {
  text-align: right;
}
