body {
  width: min(37rem, calc(100vw - var(--space-3)));
  margin: 0 auto;
}

header,
footer {
  text-transform: lowercase;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: var(--space-1) 0 var(--space-2);
}

footer {
  justify-content: center;
  margin: var(--space-2) 0;
}

nav > :not(:last-child) {
  margin-right: var(--space-1);
}

#theme-toggle {
  text-align: right;
  margin-left: var(--space-1);
}

/* allow the hmm */
body:not(.hmm) > nav {
  background-color: var(--light);
}
