body {
  width: min(55ch, calc(100vw - var(--space-3)));
  margin: var(--space-4) auto;
}

header,
nav {
  font-weight: bold;
  text-transform: lowercase;
}

:where(header, nav) > :not(:last-child) {
  margin-right: var(--space-1);
}

main {
  margin-top: var(--space-4);
}

/* allow the hmm */
body:not(.hmm) > nav {
  background-color: var(--light);
}

nav > a {
  text-decoration: none;
}

@media (max-width: 768px) {
  body {
    margin-top: var(--space-2);
  }
}
