.page > .post + .post {
  margin-top: var(--space-4);
  border-top: 0.1rem solid var(--grey);
  padding-top: var(--space-1);
}

.page > .post > blockquote > p::after {
  /* add ellipsis  */
  content: "..";
}
