.small {
  font-size: 0.85em;
}

.separate {
  display: flex;
  flex-wrap: wrap;
}

.separate > :not(:last-child)::after {
  content: var(--separator);
  padding: 0 1ch;
  font-size: max(var(--min-font-size), 0.65em);
  vertical-align: middle;
}

.pop {
  color: var(--pop);
}

.rainbow {
  animation: rainbow 3s infinite alternate;
}

@keyframes rainbow {
  0% {
    color: red;
  }

  20% {
    color: orange;
  }

  40% {
    color: gold;
  }

  60% {
    color: green;
  }

  80% {
    color: royalblue;
  }

  100% {
    color: purple;
  }
}
