.sep {
  display: flex;
  flex-wrap: wrap;
}

.sep > ::after {
  font-weight: bold;
  line-height: 1;
  color: var(--dark);
}

.sep.sep-pop > ::after {
  color: var(--pop);
}

.sep > :not(:last-child)::after {
  /* nbsp */
  content: "\A0";
}

.sep > :not(:last-child, .skip)::after {
  content: "\A0"var(--separator) "\A0";
}

.pop {
  color: var(--pop);
}

.overflow {
  overflow-x: auto;
  overflow-y: hidden;
}

.rainbow {
  animation: rainbow 2.5s infinite alternate;
}

@keyframes rainbow {
  0% {
    color: red;
  }

  20% {
    color: orange;
  }

  40% {
    color: gold;
  }

  60% {
    color: green;
  }

  80% {
    color: royalblue;
  }

  100% {
    color: purple;
  }
}

.hmm::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='40px' width='30px'><text x='0' y='20' font-size='20px'>🤔</text></svg>");
  background-repeat: repeat;
  animation: hmm 2.5s ease-in-out infinite;
}

@keyframes hmm {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 10%;
  }

  100% {
    opacity: 0%;
  }
}
