@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=Work+Sans:wght@600&display=swap");

body {
  --space-4: 2rem;
  --space-3: calc(var(--space-4) * 0.75);
  --space-2: calc(var(--space-4) * 0.5);
  --space-1: calc(var(--space-4) * 0.25);

  --content-left: 50%;
  --content-right: calc(100% - var(--content-left));
  --content-width: 35rem;

  /* bullet point */
  --separator: "\2022";

  --fs-min: 0.5rem;
  --fw-bold: 600;

  --ff-heading: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  --ff-normal: "Lora", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  --lh-heading: 1.1;

  /* atom one colors */
  /* default hsl(0, 0%, 98%); */
  --white: white;
  /* default hsl(228, 8%, 24%) */
  --black: hsl(228, 8%, 18%);
  --grey: hsl(228, 8%, 40%);
  --red: #e45649;
  --blue: #4078f2;
  --purple: #a626a4;
  --yellow: #f5d802;
  --selection: #e5e5e6;

  /* theme */
  --light: var(--white);
  --dark: var(--black);
  --pop: var(--purple);
}

body.dark {
  /* default hsl(219, 14%, 71%) */
  --white: hsl(219, 10%, 82%);
  --black: hsl(220, 13%, 18%);
  --grey: hsl(219, 10%, 65%);
  --red: #e06c75;
  --blue: #61afef;
  --purple: #c678dd;
  --selection: #3e4451;

  /* theme */
  --light: var(--black);
  --dark: var(--white);
}
