@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Lora:ital,wght@0,400;0,600;1,400&family=Work+Sans:wght@600&display=swap");

body {
  --space-4: 2rem;
  --space-3: calc(var(--space-4) * 0.75);
  --space-2: calc(var(--space-4) * 0.5);
  --space-1: calc(var(--space-4) * 0.25);

  --content-left: 50%;
  --content-right: calc(100% - var(--content-left));
  --content-width: 37.5rem;

  /* bullet point */
  --separator: "\2022";

  --ff-heading: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --ff-normal: "Lora", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  --ff-mono: "JetBrains Mono", ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --fs-min: 0.5rem;
  --fw-bold: 600;
  --lh-heading: 1.1;
  --ls-heading: -0.04em;

  --border-radius: 0.2rem;
  --border: 0.1rem solid var(--dark-grey);

  --code-property: #e45649;
  --code-params: #986801;
  --code-title: #4078f2;
  --code-built-in: #0184bc;
  --code-keyword: #a626a4;
  --code-string: #50a14f;
  --code-comment: #a0a1a7;

  --blue: var(--code-title);
  --purple: var(--code-keyword);

  /* atom one colors */
  /* default hsl(0, 0%, 98%); */
  --white: white;
  /* default hsl(228, 8%, 24%) */
  --black: hsl(228, 8%, 18%);

  --dark-grey: #5e616e;
  --light-grey: #fafafa;

  /* theme */
  --light: var(--white);
  --dark: var(--black);
  --pop: var(--purple);
}

body.dark {
  --code-property: #e06c75;
  --code-params: #d19a66;
  --code-title: #61afef;
  --code-built-in: #56b6c2;
  --code-keyword: #c678dd;
  --code-string: #98c379;
  --code-comment: #5c6370;

  /* default hsl(219, 14%, 71%) */
  --white: hsl(219, 10%, 82%);
  --black: hsl(220, 13%, 18%);

  --dark-grey: #9da3af;
  --light-grey: #3e4451;

  /* theme */
  --light: var(--black);
  --dark: var(--white);
}
