@import url("https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Work+Sans:wght@600&display=swap");

body {
  --space-4: 2rem;
  --space-3: calc(var(--space-4) * 0.75);
  --space-2: calc(var(--space-4) * 0.5);
  --space-1: calc(var(--space-4) * 0.25);

  /* bullet point */
  --separator: "\2022";

  --min-font-size: 0.5rem;

  --heading: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  --text: "Lora", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

  /* atom one colors */
  /* default: hsl(0, 0%, 98%) */
  --light: hsl(0, 0%, 96%);
  /* default hsl(228, 8%, 24%) */
  --dark: hsl(228, 8%, 15%);
  --grey: hsl(228, 8%, 40%);
  --red: #e45649;
  --blue: #4078f2;
  --purple: #a626a4;
  --selection: #e5e5e6;

  --pop: var(--purple);
}

body.dark {
  --light: #282c34;
  /* default hsl(219, 14%, 71%) */
  --dark: hsl(219, 10%, 82%);
  --grey: hsl(219, 10%, 65%);
  --red: #e06c75;
  --blue: #61afef;
  --purple: #c678dd;
  --selection: #3e4451;

  --pop: var(--purple);
}
